In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/drive/MyDrive/Advance Python/Churn_Modelling.csv")
df.shape

(10000, 14)

In [ ]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df1= df.drop(['RowNumber', 'CustomerId', 'Surname', 'CreditScore'], axis=1,) # use with inplace
df1.shape

(10000, 10)

In [ ]:
df_spec = pd.read_csv("/content/drive/MyDrive/Advance Python/Churn_Modelling.csv", usecols=['Gender', 'Age', 'Tenure', 'Balance'])

In [ ]:
df_spec = pd.read_csv("/content/drive/MyDrive/Advance Python/Churn_Modelling.csv",nrows=5000)

In [ ]:
df_sample = df.sample(n=1000)
print(df_sample.shape)

(1000, 14)

In [ ]:
df_sample2 = df.sample(frac=0.1)
print(df_sample2.shape)

(1000, 14)

In [ ]:
df.isnull().sum()

Group              0
RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
missing_index = np.random.randint(10000, size=20)
print(missing_index)

[9510 5044 1169 1477 6850 3788 5076 9977 3359 5376 7808 7685 9604 7622
 6744 4251 6392 4400  126 5261]

In [ ]:
df.loc[missing_index, ['Balance','Geography','Exited']] = np.nan # using loc

In [ ]:
#df.iloc[missing_index, -1] = np.nan #using iloc

In [ ]:
df.isna().sum()

RowNumber           0
CustomerId          0
Surname             0
CreditScore         0
Geography          20
Gender              0
Age                 0
Tenure              0
Balance            20
NumOfProducts       0
HasCrCard           0
IsActiveMember      0
EstimatedSalary     0
Exited             20
dtype: int64

In [ ]:
#print(df['Geography'].value_counts())
print(df['Geography'].mode()[0])

France

In [ ]:
mean=df['Balance'].mean()
df['Balance'].fillna(value=mean,inplace=True)
df['Geography'].fillna(value=df['Geography'].mode()[0],inplace=True)
df.isna().sum()

['France']

RowNumber           0
CustomerId          0
Surname             0
CreditScore         0
Geography           0
Gender              0
Age                 0
Tenure              0
Balance             0
NumOfProducts       0
HasCrCard           0
IsActiveMember      0
EstimatedSalary     0
Exited             20
dtype: int64

In [ ]:
# mode = df['Geography'].value_counts().index[0]
# df['Geography'].fillna(value=df['Geography'].mode(), inplace=True)

In [ ]:
# avg = df['Balance'].mean()
# df['Balance'].fillna(value=avg, inplace=True)
#ffill, bfill

In [ ]:
df.dropna(axis=0, how='any', inplace=True)

In [16]:
df.isna().sum()
df.shape

(10000, 14)

In [ ]:
france_churn = df[((df.Geography == 'France') | (df.Geography == 'Germany')) & (df.Balance >= 50000)]
print(france_churn.shape)
print(france_churn)
france_churn.Geography.value_counts()

In [ ]:
#df2 = df.query('80000 < Balance < 100000')
df2 = df[(df.Balance >=80000) & (df.Balance <= 100000)]
print(df2.shape)
df2.value_counts()

In [7]:
df[df['Tenure'].isin([4,6,9,10])][:100]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,271,15787071,Dulhunty,650,Spain,Male,41,9,0.00,2,0,1,191599.67,0
274,275,15800116,Bowman,712,Germany,Male,28,4,145605.44,1,0,1,93883.53,0
277,278,15767339,Chiazagomekpere,777,France,Female,53,10,0.00,2,1,0,189992.97,0
278,279,15683562,Allen,646,France,Male,35,6,84026.86,1,0,1,164255.69,0
281,282,15669169,Hargreaves,775,Spain,Male,29,10,0.00,2,1,1,68143.93,0

In [9]:
#group the rows based on the geography-gender combinations and then give us the average churn rate for each group
df[['Geography','Gender','Exited']].groupby(['Geography','Gender']).mean()
display(df.groupby(['Geography','Gender'])['Exited'].count())

Geography  Gender
France     Female    2261
           Male      2753
Germany    Female    1193
           Male      1316
Spain      Female    1089
           Male      1388
Name: Exited, dtype: int64

In [12]:
#df[['Geography','Gender','Balance']].groupby(['Geography','Gender']).agg(['mean','count'])
df[['Geography','Gender','Balance']].groupby(['Geography','Gender']).agg(['mean','max','min'])

                        Balance
                           mean        max       min
Geography Gender
France    Female   60322.670159  238387.56      0.00
          Male     63546.284875  212692.97      0.00
Germany   Female  119145.966471  206868.78  32197.64
          Male    120259.668222  214346.96  27288.43
Spain     Female   59862.092534  216109.88      0.00
          Male     63352.833746  250898.09      0.00

In [14]:
df_summary = df[['Geography','Exited','Balance']].groupby('Geography').agg({'Exited':'sum', 'Balance':'mean'})
df_summary.rename(columns={'Exited':'# of churned customers', 'Balance':'Average Balance of Customers'},inplace=True)
df_summary

           # of churned customers  Average Balance of Customers
Geography
France                        810                  62092.636516
Germany                       814                 119730.116134
Spain                         413                  61818.147763

In [ ]:
df_summary = df[['Geography','Exited','Balance']].groupby('Geography').agg({'Exited':'sum', 'Balance':'mean'})
df_summary.rename(columns={'Exited':'# of churned customers', 'Balance':'Average Balance of Customers'},inplace=True)
df_summary

           # of churned customers  Average Balance of Customers
Geography
France                        810                  62092.636516
Germany                       814                 119730.116134
Spain                         413                  61818.147763

In [19]:
group = np.random.randint(10, size=10000)
df['Group'] = group
df.columns
#df.Group

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Group'],
      dtype='object')

In [23]:
df.drop('Group',axis=1,inplace=True)
#df.insert(0,'Group',group) 
df.insert(3,'Group',group) 
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'Group', 'CreditScore',
       'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df_new=df.sample(n=10)
df_new

,Group,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
177,7,178,15790355,Okechukwu,606,Germany,Male,36,5,190479.48,2,0,0,179351.89,0
175,3,176,15755209,Fu,484,Spain,Female,35,7,133868.21,1,1,1,27286.10,0
754,3,755,15685997,Azubuike,838,Spain,Female,39,5,166733.92,2,1,0,14279.44,0
9977,9,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
6951,8,6952,15738889,Shih,658,France,Male,42,8,102870.93,1,0,1,103764.55,1
400,5,401,15690452,Tung,605,France,Male,52,1,63349.75,1,1,0,108887.44,0
52,8,53,15683553,O'Brien,788,France,Female,33,5,0.00,2,0,0,116978.19,0
7568,9,7569,15809909,Fan,422,Spain,Female,54,4,0.00,2,1,1,7166.71,0
6147,4,6148,15690526,Tuan,690,Germany,Male,31,2,137260.45,2,1,0,55387.28,0
7235,2,7236,15629750,Artyomova,697,France,Male,35,5,133087.76,1,1,0,64771.61,0

In [ ]:
df_new['Balance'] = df_new['Balance'].where(df_new['Group'] >= 4, 0)
df_new

,Group,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
177,7,178,15790355,Okechukwu,606,Germany,Male,36,5,190479.48,2,0,0,179351.89,0
175,3,176,15755209,Fu,484,Spain,Female,35,7,0.00,1,1,1,27286.10,0
754,3,755,15685997,Azubuike,838,Spain,Female,39,5,0.00,2,1,0,14279.44,0
9977,9,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
6951,8,6952,15738889,Shih,658,France,Male,42,8,102870.93,1,0,1,103764.55,1
400,5,401,15690452,Tung,605,France,Male,52,1,63349.75,1,1,0,108887.44,0
52,8,53,15683553,O'Brien,788,France,Female,33,5,0.00,2,0,0,116978.19,0
7568,9,7569,15809909,Fan,422,Spain,Female,54,4,0.00,2,1,1,7166.71,0
6147,4,6148,15690526,Tuan,690,Germany,Male,31,2,137260.45,2,1,0,55387.28,0
7235,2,7236,15629750,Artyomova,697,France,Male,35,5,0.00,1,1,0,64771.61,0

In [ ]:
df_new['rank'] = df_new['Balance'].rank(method='first', ascending=False).astype('int')
df_new[['Balance','rank']]

        Balance  rank
177   190479.48     1
175        0.00     5
754        0.00     6
9977       0.00     7
6951  102870.93     3
400    63349.75     4
52         0.00     8
7568       0.00     9
6147  137260.45     2
7235       0.00    10

In [ ]:
df.Geography.value_counts()#.size

3

In [ ]:
df.Geography.nunique()

3