In [ ]:
import pandas as pd
import numpy as np
# Set up the Toyota csv file as a DataFrame
cars_df = pd.read_csv('/content/sample_data/ToyotaCorolla.csv', index_col = 0)
cars_df.head()

In [21]:
cars_df['Doors'].dtype

dtype('int64')

In [ ]:
cars_df.columns

Index(['Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'Fuel_Type', 'HP', 'Met_Color', 'Automatic', 'cc', 'Doors', 'Cylinders',
       'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee', 'BOVAG_Guarantee',
       'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2', 'Airco',
       'Automatic_airco', 'Boardcomputer', 'CD_Player', 'Central_Lock',
       'Powered_Windows', 'Power_Steering', 'Radio', 'Mistlamps',
       'Sport_Model', 'Backseat_Divider', 'Metallic_Rim', 'Radio_cassette',
       'Tow_Bar'],
      dtype='object')

In [ ]:
cars = cars_df.copy(deep = True)   #true is default and false is for shallow copy
cars.head()

                                             Model  ...  Tow_Bar
Id                                                  ...
1    TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  ...        0
2    TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  ...        0
3   ?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  ...        0
4    TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  ...        0
5      TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  ...        0

[5 rows x 36 columns]

In [ ]:
cars.memory_usage().head()

Index        11488
Model        11488
Price        11488
Age_08_04    11488
Mfg_Month    11488
dtype: int64

In [ ]:
cars.loc[:,['Fuel_Type','Price']].head(3)

   Fuel_Type  Price
Id
1     Diesel  13500
2     Diesel  13750
3     Diesel  13950

In [ ]:
cars.dtypes.value_counts()

int64     34
object     2
dtype: int64

In [ ]:
cars.select_dtypes(exclude = [object]).head(3)

    Price  Age_08_04  Mfg_Month  ...  Metallic_Rim  Radio_cassette  Tow_Bar
Id                               ...
1   13500         23         10  ...             0               0        0
2   13750         23         10  ...             0               0        0
3   13950         24          9  ...             0               0        0

[3 rows x 34 columns]

In [ ]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 1 to 1442
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Model             1436 non-null   object
 1   Price             1436 non-null   int64
 2   Age_08_04         1436 non-null   int64
 3   Mfg_Month         1436 non-null   int64
 4   Mfg_Year          1436 non-null   int64
 5   KM                1436 non-null   int64
 6   Fuel_Type         1436 non-null   object
 7   HP                1436 non-null   int64
 8   Met_Color         1436 non-null   int64
 9   Automatic         1436 non-null   int64
 10  cc                1436 non-null   int64
 11  Doors             1436 non-null   int64
 12  Cylinders         1436 non-null   int64
 13  Gears             1436 non-null   int64
 14  Quarterly_Tax     1436 non-null   int64
 15  Weight            1436 non-null   int64
 16  Mfr_Guarantee     1436 non-null   int64
 17  BOVAG_Guarantee   1436 non-null   int64
 18  Guarantee_Period  1436 non-null   int64
 19  ABS               1436 non-null   int64
 20  Airbag_1          1436 non-null   int64
 21  Airbag_2          1436 non-null   int64
 22  Airco             1436 non-null   int64
 23  Automatic_airco   1436 non-null   int64
 24  Boardcomputer     1436 non-null   int64
 25  CD_Player         1436 non-null   int64
 26  Central_Lock      1436 non-null   int64
 27  Powered_Windows   1436 non-null   int64
 28  Power_Steering    1436 non-null   int64
 29  Radio             1436 non-null   int64
 30  Mistlamps         1436 non-null   int64
 31  Sport_Model       1436 non-null   int64
 32  Backseat_Divider  1436 non-null   int64
 33  Metallic_Rim      1436 non-null   int64
 34  Radio_cassette    1436 non-null   int64
 35  Tow_Bar           1436 non-null   int64
dtypes: int64(34), object(2)
memory usage: 415.1+ KB

In [ ]:
print(np.unique(cars['Doors']))
print(np.unique(cars['cc']))
print(np.unique(cars['Automatic']))
print(np.unique(cars))

TypeError: ignored

In [ ]:
cars.isnull().sum()

Model               0
Price               0
Age_08_04           0
Mfg_Month           0
Mfg_Year            0
KM                  0
Fuel_Type           0
HP                  0
Met_Color           0
Automatic           0
cc                  0
Doors               0
Cylinders           0
Gears               0
Quarterly_Tax       0
Weight              0
Mfr_Guarantee       0
BOVAG_Guarantee     0
Guarantee_Period    0
ABS                 0
Airbag_1            0
Airbag_2            0
Airco               0
Automatic_airco     0
Boardcomputer       0
CD_Player           0
Central_Lock        0
Powered_Windows     0
Power_Steering      0
Radio               0
Mistlamps           0
Sport_Model         0
Backseat_Divider    0
Metallic_Rim        0
Radio_cassette      0
Tow_Bar             0
dtype: int64

In [ ]:
columns_to_drop = ['Model','Mfg_Month', 'Mfg_Year','Cylinders',
       'Gears', 'Quarterly_Tax','Mfr_Guarantee', 'BOVAG_Guarantee',
       'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2', 'Airco',
       'Automatic_airco', 'Boardcomputer', 'CD_Player', 'Central_Lock',
       'Powered_Windows', 'Power_Steering', 'Radio', 'Mistlamps',
       'Sport_Model', 'Backseat_Divider', 'Metallic_Rim', 'Radio_cassette','Tow_Bar']
cars.drop(columns_to_drop, axis = 1, inplace= True)
cars.head(5)

    Price  Age_08_04     KM Fuel_Type  ...  Automatic    cc  Doors  Weight
Id                                     ...
1   13500         23  46986    Diesel  ...          0  2000      3    1165
2   13750         23  72937    Diesel  ...          0  2000      3    1165
3   13950         24  41711    Diesel  ...          0  2000      3    1165
4   14950         26  48000    Diesel  ...          0  2000      3    1165
5   13750         30  38500    Diesel  ...          0  2000      3    1170

[5 rows x 10 columns]

In [ ]:
cars.describe()

              Price    Age_08_04  ...        Doors      Weight
count   1436.000000  1436.000000  ...  1436.000000  1436.00000
mean   10730.824513    55.947075  ...     4.033426  1072.45961
std     3626.964585    18.599988  ...     0.952677    52.64112
min     4350.000000     1.000000  ...     2.000000  1000.00000
25%     8450.000000    44.000000  ...     3.000000  1040.00000
50%     9900.000000    61.000000  ...     4.000000  1070.00000
75%    11950.000000    70.000000  ...     5.000000  1085.00000
max    32500.000000    80.000000  ...     5.000000  1615.00000

[8 rows x 9 columns]

In [ ]:
cars.rename(columns = {'Age_08_04':'Age_Months', 'cc':'CC'}, inplace = True)
cars.head(2)

    Price  Age_Months     KM Fuel_Type  ...  Automatic    CC  Doors  Weight
Id                                      ...
1   13500          23  46986    Diesel  ...          0  2000      3    1165
2   13750          23  72937    Diesel  ...          0  2000      3    1165

[2 rows x 10 columns]

In [ ]:
cars.insert(10, "Price_Class", " ")
cars.head()

    Price  Age_Months     KM Fuel_Type  ...    CC  Doors  Weight  Price_Class
Id                                      ...
1   13500          23  46986    Diesel  ...  2000      3    1165
2   13750          23  72937    Diesel  ...  2000      3    1165
3   13950          24  41711    Diesel  ...  2000      3    1165
4   14950          26  48000    Diesel  ...  2000      3    1165
5   13750          30  38500    Diesel  ...  2000      3    1170

[5 rows x 11 columns]

In [ ]:
for i in range(0, len(cars['Price']), 1):
    if cars['Price'].iloc[i] <= 8450:
        cars["Price_Class"].iloc[i] = 'Cheap'
    elif cars['Price'].iloc[i] >= 11950:
         cars["Price_Class"].iloc[i] = 'Expensive'
    else:
        cars['Price_Class'].iloc[i] = 'Average'
        
cars.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

      Price  Age_Months     KM Fuel_Type  ...    CC  Doors  Weight  Price_Class
Id                                        ...
1438   7500          69  20544    Petrol  ...  1300      3    1025        Cheap
1439  10845          72  19000    Petrol  ...  1300      3    1015      Average
1440   8500          71  17016    Petrol  ...  1300      3    1015      Average
1441   7250          70  16916    Petrol  ...  1300      3    1015        Cheap
1442   6950          76      1    Petrol  ...  1600      5    1114        Cheap

[5 rows x 11 columns]

In [ ]:
cars.head()

    Price  Age_Months     KM Fuel_Type  ...    CC  Doors  Weight  Price_Class
Id                                      ...
1   13500          23  46986    Diesel  ...  2000      3    1165    Expensive
2   13750          23  72937    Diesel  ...  2000      3    1165    Expensive
3   13950          24  41711    Diesel  ...  2000      3    1165    Expensive
4   14950          26  48000    Diesel  ...  2000      3    1165    Expensive
5   13750          30  38500    Diesel  ...  2000      3    1170    Expensive

[5 rows x 11 columns]

In [ ]:
cars.insert(11, "Age", " ")

In [ ]:
i = 0
while i < len(cars['Age_Months']):
    if cars['Age_Months'].iloc[i] <= 44:
        cars['Age'].iloc[i] = 'New Model'
        
    elif cars['Age_Months'].iloc[i] >= 70:
        cars['Age'].iloc[i] = 'Very Old'
               
    else:
        cars['Age'].iloc[i] = 'Old'
    i+=1

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
cars['Age'].value_counts()

Old          689
New Model    378
Very Old     369
Name: Age, dtype: int64

In [ ]:
cars['Price_Class'].value_counts()

Average      704
Cheap        369
Expensive    363
Name: Price_Class, dtype: int64